<div class="message-container">

    <div [hidden]="connected" class="connexion">
        <input [(ngModel)]="email" placeholder="Entrez votre email" />
        <button (click)="connect(email)">Connexion</button>
      </div>

      <div [hidden]="!connected" class="connexion">
        <button (click)="deconnect(email)">Deconnexion</button>
      </div>


    <div [hidden]="!connected">  
    <h2>Tchat</h2>
    <ul>
      <div *ngFor="let messagedto of messages">

        <div class="message-from">
        Message from {{ messagedto.senderFullName}} : 
        {{ messagedto.content }}
        </div>

      </div>
    </ul>
    <div class="new-message">
      <input [(ngModel)]="newMessage" placeholder="Écrire un message" />
      <button (click)="sendMessage()">Envoyer</button>
    </div>
  </div>
</div>
